html {
    margin: 0;
    width: 100vw;
   
}

html,
body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 450%;
    font-family: "Frank Ruhl Libre";
    padding-left: 15%;
    padding-top: 5%;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
}

h3 {
    font-size: 150%;
    font-family: 'roboto';
    padding-left: 15%;
    padding-right: 40px;
    font-weight: 300;
    color: #fff;
}

h2 {
    font-size: 300%;
    font-family: "Frank Ruhl Libre";
    padding-left: 15%;
    padding-top: 10%;
    font-weight: 500;
    line-height: 1.2;
}

p {
    font-size: 120%;
    font-family: 'roboto';
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 300;
    color: #666666;
}

.social_media{
width: 100%;
  height: auto;
   position: relative;
    z-index: 10;
display: inline-block;
    margin-left: 70vw;
    top: 5vh;
    
}
.social_media img{
    width:3%;
    height: auto;
   margin-right: 1vw;
       
}

.social_media img:hover{
    cursor: pointer;
   
}


/*BUTTONS*/

/*PURPLE BUTTON*/

button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 30%;
    height: 10%;
    cursor: pointer;
    margin-left: 30%;
    margin-top: 2%;
    border: 1px solid #642769;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font: normal 110% "Roboto", Helvetica, sans-serif;
    color: #642769;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

button:hover {
    color: rgba(255, 255, 255, 1);
    background: #642769;
}

button:active {
    border: 2px solid rgba(176, 126, 183);
    background: rgba(176, 126, 183);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

/*WHITE BUTTON (COUNTRIES)*/

.button_w_s {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 10%;
    border: 1px solid #fff;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font: normal 20px/40px "Roboto", Helvetica, sans-serif;
    color: #ffff;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.button_w_s:hover {
    color: #4e2b63;
    background: #fff;
}

.button_w_s:active {
    border: 2px #642769;
    background: #642769;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.header {
    position: fixed;
    height: 11vh;
    background: #fff;
    width: 100%;
   
    z-index: 10;
    -webkit-box-shadow: 0 8px 10px -6px #999;
    -moz-box-shadow: 0 8px 10px -6px #999;
    box-shadow: 0 8px 10px -6px #999;
    opacity: 0.7;
}

.logo {
    background-image: url('YFU_logo.svg');
    position: fixed;
    width: 10%;
    top: 3vh;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
    left: 45vw;
   
}


.logo:hover {
     background-image: url("images/gradient_logo.svg");
    position: fixed;
    width:10%;
    top: 2vh;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer; 
    left: 45vw;  
}


#plane {
    position: absolute;
    width: 15%;
    height: 30%;
    margin-top: 60vh;
    margin-left: 38vw;
    z-index: 9;
}


/* MENU */

#menu_categories a {
    font-size: 2.5em;
    font-family: 'Eczar';
    line-height: 1;
    color: #ffffff;
    text-decoration: none;
    margin: 7vw;
    text-shadow: 2px 2px #000
}

#menu_categories {
    top: 45vh;
    position: absolute;

}

#menu_categories a:before {
    content: "";
    position: absolute;
    width: 130px;
    height: 2px;
    bottom: 0;
    visibility: hidden;
    background-color: #ffff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}


#menu_categories a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1.5);
    transform: scaleX(1.5);
    opacity: 1;
}


#images_menu {
    width: 100vw;
    height: 100vh;
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

#images_menu .water {
    width: 24.7vw;


}

#images_menu .water:hover {
    opacity: 0.7;
}

#images_menu .nature {
    width: 24.7vw;

}

#images_menu .nature:hover {
    opacity: 0.7;
}

#images_menu .landscape {
    width: 24.7vw;

}

#images_menu .landscape:hover {
    opacity: 0.7;
}

#images_menu .family {
    width: 24.7vw;

}

#images_menu .family:hover {
    opacity: 0.7;
}



.moveWater {
    animation-name: moveWater;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.29, .58, .87, .72)
}

@keyframes moveWater {

    0% {
        transform: translateY(-900px);
    }

    100% {
        transform: translateY(0vh);
    }
}

.moveNature {
    animation-name: moveNature;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.29, .58, .87, .72)
}

@keyframes moveNature {

    0% {
        transform: translateY(1200px);
    }

    100% {
        transform: translateY(0vh);
    }
}

.moveLandscape {
    animation-name: moveLandscape;
    animation-duration: 0.6s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.29, .58, .87, .72)
}

@keyframes moveLandscape {

    0% {
        transform: translateY(-900px);
    }

    100% {
        transform: translateY(0vh);
    }
}

.moveFamily {
    animation-name: moveFamily;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(.29, .58, .87, .72)
}

@keyframes moveFamily {

    0% {
        transform: translateY(1200px);
    }

    100% {
        transform: translateY(0vh);
    }
}


/*.fas fa-plane fa-7x {
    color: white;
    width: 500%;
    height: 500%;
    position: absolute;
    z-index: 100;

}*/

.hamburger {
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 68px;
    height: 68px;
    z-index: 30;
    cursor: pointer;
    margin-top: 20px;
    right: 0;
    left: 10px;
    position: relative;



}

.burger-main {
    position: absolute;
    padding: 20px 16px;
    height: 68px;
    width: 68px;
}

.burger-inner {
    position: relative;
    height: 28px;
    width: 36px;
}

.burger-main span {
    position: absolute;
    display: block;
    height: 4px;
    width: 36px;
    border-radius: 2px;
    background: black;
}

.top {
    top: 0;
    transform-origin: 34px 2px;
}

.bot {
    bottom: 0;
    transform-origin: 34px 2px;
}

.mid {
    top: 12px;
}

.svg-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
}

.circle {
    width: 68px;
    height: 68px;
}

.path {
    stroke-dasharray: 240;
    stroke-dashoffset: 240;
    stroke-linejoin: round;
}

.hamburger.open .path {
    animation: dash-in 0.6s linear normal;
    animation-fill-mode: forwards;
}

.hamburger.closed .path {
    animation: dash-out 0.6s linear normal;
    animation-fill-mode: forwards;
}

.hamburger.open .top {
    animation: close-top-out 0.6s linear normal;
    animation-fill-mode: forwards;
}

.hamburger.open .bot {
    animation: close-bot-out 0.6s linear normal;
    animation-fill-mode: forwards;
}

.hamburger.closed .top {
    animation: close-top-in 0.6s linear normal;
    animation-fill-mode: forwards;
}

.hamburger.closed .bot {
    animation: close-bot-in 0.6s linear normal;
    animation-fill-mode: forwards;
}

.hamburger.open .mid {
    animation: burger-fill-out 0.6s linear normal;
    animation-fill-mode: forwards;
}

.hamburger.closed .mid {
    animation: burger-fill-in 0.6s linear normal;
}

.path-burger {
    position: absolute;
    top: 0;
    left: 0;
    height: 68px;
    width: 68px;
    -webkit-mask: url(#mask);
    mask: url(#mask);
    -webkit-mask-box-image: url(http://dev.awsm.in/codepen/mask.svg);
}

.animate-path {
    position: absolute;
    top: 0;
    left: 0;
    width: 68px;
    height: 68px;
}

.path-rotation {
    height: 34px;
    width: 34px;
    margin: 34px 34px 0 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
}

.path-rotation:before {
    content: '';
    display: block;
    width: 30px;
    height: 34px;
    margin: 0 4px 0 0;
    background: black;
}

.hamburger.open .animate-path {
    animation: circle-in 0.6s linear normal;
    animation-fill-mode: forwards;
}

.hamburger.closed .animate-path {
    animation: circle-out 0.6s linear normal;
    animation-fill-mode: forwards;
}

@-webkit-keyframes dash-in {
    0% {
        stroke-dashoffset: 240;
    }

    40% {
        stroke-dashoffset: 240;
    }

    100% {
        stroke-dashoffset: 0;
    }

}

@keyframes dash-in {
    0% {
        stroke-dashoffset: 240;
    }

    40% {
        stroke-dashoffset: 240;
    }

    100% {
        stroke-dashoffset: 0;
    }

}

@-webkit-keyframes dash-out {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 240;
    }

    100% {
        stroke-dashoffset: 240;
    }

}

@keyframes dash-out {
    0% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 240;
    }

    100% {
        stroke-dashoffset: 240;
    }

}

@keyframes close-top-out {
    0% {
        left: 0;
        top: 0;
        transform: rotate(0deg);
    }

    20% {
        left: 0;
        top: 0;
        transform: rotate(15deg);
    }

    80% {
        left: -5px;
        top: 0;
        transform: rotate(-60deg);
    }

    100% {
        left: -5px;
        top: 1px;
        transform: rotate(-45deg);
    }

}

@keyframes close-bot-out {
    0% {
        left: 0;
        transform: rotate(0deg);
    }

    20% {
        left: 0;
        transform: rotate(-15deg);
    }

    80% {
        left: -5px;
        transform: rotate(60deg);
    }

    100% {
        left: -5px;
        transform: rotate(45deg);
    }

}

@keyframes close-top-in {
    0% {
        left: -5px;
        bot: 0;
        transform: rotate(-45deg);
    }

    20% {
        left: -5px;
        bot: 0;
        transform: rotate(-60deg);
    }

    80% {
        left: 0;
        bot: 0;
        transform: rotate(15deg);
    }

    100% {
        left: 0;
        bot: 1px;
        transform: rotate(0deg);
    }

}

@keyframes close-bot-in {
    0% {
        left: -5px;
        transform: rotate(45deg);
    }

    20% {
        left: -5px;
        transform: rotate(60deg);
    }

    80% {
        left: 0;
        transform: rotate(-15deg);
    }

    100% {
        left: 0;
        transform: rotate(0deg);
    }

}

@keyframes burger-fill-in {
    0% {
        width: 0;
        left: 36px;
    }

    40% {
        width: 0;
        left: 40px;
    }

    80% {
        width: 36px;
        left: -6px;
    }

    100% {
        width: 36px;
        left: 0px;
    }

}

@keyframes burger-fill-out {
    0% {
        width: 36px;
        left: 0px;
    }

    20% {
        width: 42px;
        left: -6px;
    }

    40% {
        width: 0;
        left: 40px;
    }

    100% {
        width: 0;
        left: 36px;
    }

}

@keyframes circle-out {
    0% {
        transform: rotate(0deg);
    }

    40% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }

}


@keyframes circle-in {
    0% {
        transform: rotate(360deg);
    }

    40% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }

}

.front {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
    background-color: black;

}

.front .main-title {
    background-color: #642769;
}

.front .video {
    position: relative;
    margin-top: top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
    overflow: hidden;
    /* 16:9 */
    z-index: 1;


}

iframe{
    position: absolute;
    height: -webkit-calc(100% - 18px);
    height: calc(100% - 18px);
    display: block;
}

.new-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.new-home .new-home-title {
    background-color: #fff;
    grid-template-columns: 1fr 1fr;
}

.new-home .countries {

    grid-template-columns: 1fr 1fr;
    display: grid;

}

/*Chile*/

.new-home .countries .chile {
    background-color: #f58220;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 8px solid white;
    position: relative;
    width: 100%;
}

.chile h3 {
    text-align: center;
    bottom="0";
}

.new-home .countries .chile img {
    display: block;
    width: 50%;
    height: auto;
}

.new-home .countries .chile .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #fdc578;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.new-home .countries .chile:hover .overlay {
    columns: pointer;
    bottom: 0;
    height: 100%;
}

.new-home .countries .chile .overlay .text_c {
    font-family: sans-serif, 'roboto';
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}

/*China*/

.new-home .countries .china {
    background-color: #f58220;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 8px solid white;
    position: relative;
    width: 100%;
}

.china h3 {
    text-align: center;
    bottom="0";
}

.new-home .countries .china img {
    display: block;
    width: 50%;
    height: auto;
}

.new-home .countries .china .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fdc578;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    line-height: 1.8;
}

.new-home .countries .china:hover .overlay {
    columns: pointer;
    bottom: 0;
    height: 100%;
}

.new-home .countries .china .overlay .text_c {
    font-family: sans-serif, 'roboto';
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}


/*USA*/

.new-home .countries .usa {
    background-color: #f58220;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 8px solid white;
    position: relative;
    width: 100%;
}

.usa h3 {
    text-align: center;
    bottom="0";
}

.new-home .countries .usa img {
    display: block;
    width: 50%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #fdc578;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    line-height: 1.8;
}

.new-home .countries .usa:hover .overlay {
    columns: pointer;
    bottom: 0;
    height: 100%;
}

.new-home .countries .usa .overlay .text_c {
    font-family: sans-serif, 'roboto';
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}

/*PARAGUAY*/

.new-home .countries .paraguay {
    background-color: #f58220;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 8px solid white;
    position: relative;
    width: 100%;
}

.paraguay h3 {
    text-align: center;
    bottom="0";
}

.new-home .countries .paraguay img {
    display: block;
    width: 50%;
    height: auto;
}

.new-home .countries .paraguay .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fdc578;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    line-height: 1.8
}

.new-home .countries .paraguay:hover .overlay {
    columns: pointer;
    bottom: 0;
    height: 100%;
}

.new-home .countries .paraguay .overlay .text_c {
    font-family: sans-serif, 'roboto';
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}

/*PARTICIPANTS*/

.button_insta button {
    border: 1px solid white;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 150px;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    margin-left: 25%;
    border-radius: 40px;
    background: linear-gradient(-150deg, purple, purple, red, yellow);


}

.button_insta button:hover {
    background: linear-gradient(-150deg, yellow, red, purple, purple);
    border: 1px solid white;
}



.participants {
    height: 10vh;
    background: #fff;

}

.participants h2 {
    color: #642769;
    margin: 0;
    padding: 1%;
    text-align: center;
    align-items: center;
}

.student-profile {
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

.text {
    display: grid;
    grid-template-rows: 150px 100px auto;

}

.text .header_insta {
    align-self: flex-end;
    padding-right: 10%;
}

.student-profile .description {
    position: relative;
}

.student-profile .container {
    position: relative;

}

.student-profile .image {
    display: block;
    width: 100%;
    height: auto;
}


.text .header_insta h1 {
    color: white;
    font-size: 25px;
    font-family: "Frank Ruhl Libre";
    text-align: center;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;


}

.text p {
    color: white;
    font-size: 20px;
    font-family: "Roboto";
    text-align: center;


}

.button_insta button {
    border: none;
    color: white;
    font-family: "Roboto";
    font-weight: 100;
    text-decoration: none;
    font-size: 20px;


}

.button_insta button .instagram {
    width: 45px;
    height: auto;
}

.text1 {
    color: black;
    font-size: 30px;
    font-family: "Poiret One";
    text-align: center;
}

.overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    background-color: #008CBA;
}


.overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FFC47F;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .7s ease;
}

.overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: .6s ease;
    background-color: #B682B4;

}


.overlay4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00BABC;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .6s ease;
}


.overlay5 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: #B4B4B4;

}


.overlay6 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FF8A00;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .6s ease;
}


.overlay7 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    width: 100%;
    opacity: 0;
    transition: .7s ease;
    background-color: green;

}

.overlay8 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rebeccapurple;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .6s ease;
}


.container:hover .overlay1 {
    opacity: 0.9;
    height: 100%;

}

.container:hover .overlay2 {
    opacity: 0.9;
    height: 100%;

}

.container:hover .overlay3 {
    opacity: 0.9;
    height: 100%;

}

.container:hover .overlay4 {
    opacity: 0.9;
    height: 100%;

}

.container:hover .overlay5 {
    opacity: 0.9;
    height: 100%;

}

.container:hover .overlay6 {
    opacity: 0.9;
    height: 100%;

}

.container:hover .overlay7 {
    opacity: 0.8;
    height: 100%;

}

.container:hover .overlay8 {
    opacity: 0.8;
    height: 100%;

}




/* APP SECTION */

.app-container {
    height: 95vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

.app-container .app-title {
    background-color: #00B4B9;
    color: #fff;
}

.app-container .app-title p {
    color: #fff;
}

.app-container .app-title img {
    padding-left: 15%;
}

.app-container .app-title img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.app-container .app-image {
    background-color: #00B4B9;
}

.app-container .app-image img {
    width: 90%;
    height: auto;
    margin-top: 10%;
}

/* CHALLANGE */

.challange {
    height: 90vh;
    display: grid;
    grid-template-columns: 50% 50%;
}



.challange .challange-title {
    background-color: #fff;
}


.challange .challange-photos {
    background-color: #000;
}

    {
    box-sizing: border-box
}

/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    height: auto;
}

/* Hide the images by default */

.mySlides {
    display: none;
}

/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */

.cap_text {
    color: #f2f2f2;
    font-family: 'roboto', sans-serif;
    font-size: 20px;
    padding: 20px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2.5s;
    animation-name: fade;
    animation-duration: 2.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* MEETINGS */

.meetings {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.meetings .meetings-calandar {
    background-color: #fff;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-content: center;
}

.meetings .meetings-calandar img {
    width: 30%;
    height: auto;
    padding-left: 25%;
    padding-top: 5%;
}
.meetings .meetings-calandar img:hover{
    cursor:pointer;
}
.meetings .meetings-calandar p {
    padding-left: 0%;
}



.meetings .meetings-title {
    background-color: #F59100;
}

.meetings .meetings-title h2 {
    color: #fff;
}

.meetings .meetings-title p {
    color: #fff;
}


.donate-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

.donate-container .donate-title {
    background-color: #0088c3;
    color: #fff;
}

.donate-container .donate-title p {
    color: #fff;
}

.donate-container .donate-title img {
    padding-left: 15%;
}

.donate-container .donate-title img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.donate-container .donate-image {
    background-color: #0088c3;
}

.donate-container .donate-image img {
    width: 90%;
    height: auto;
    margin-top: 10%;
}

.footer {
    height: 40vh;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.footer .contact-us {
    background-color: #000;
    justify-content: center;
    align-content: center;
}

.footer .contact-us h3 {
    padding-top: 10%;
    color: #fff;
}

.footer .contact-us p {
    color: #fff;
}

.footer .social-media {
    background-color: #000;
    align-items: center;
 
}

.footer .social-media img{
    width: 100%;
    height: auto;
 
}
.footer .social-media .social-media-icons{
 display: inline-block;
    align-self: center;
    justify-content: center;
    margin-left: 10%;
    
}
.footer .social-media .social-media-icons img{
   padding: 2%;
    width: 8%;
     height: auto;
   
    
    

}

.footer .social-media p {
    text-align: center;
}

.footer .social-media .facebook {
    width: 30%;
    height: auto;
    background-color: red;
    color: black;
}

.footer .address {
    background-color: #000;
}

.footer .address h3 {
    padding-top: 10%;
    color: #fff;
}

.footer .address p {
    color: #fff;
}

/*TABLET STYLE*/

@media only screen and (max-width:780px) {

    .plane {
        display: none
    }

    .front .main-title h1 {
        margin-top: 0;
    }
    .front {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;

    }
    h2 {
        padding-top: 2%;
    }
    .video {
        width: 100%;
        height: auto;
    }

    .new-home {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;

    }

    .student-profile {
        height: auto;
        background-color: #fff;
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .app-container {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;

    }

    .app-container .app-image {
        justify-content: center;
        text-align: center;
    }
    .app-container .app-image img {
        width: 50%;

    }

    .challange {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .challange .challange-title {
        margin-bottom: 7vh;
    }

    .meetings {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

    .meetings .meetings-title button {
        margin-bottom: 7vh;
    }

    .donate-container {
        display: grid;
        grid-template-columns: 1fr;
        height: auto;
    }

    .donate-container .donate-image img {
        width: 50%;
        margin-left: 20%;
        margin-bottom: 10%;
    }

    .footer {
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }

}

/*MOBILE STYLE*/




@media only screen and (max-width:480px) {
    h1 {
        font-size: 300%;
    }

    h3 {
        font-size: 120%;
    }

    h2 {
        font-size: 200%;
    }

    p {
        font-size: 100%;
    }
    .header {
        height: 13vh;
    }

    .text .header_insta h1 {
        color: white;
        font-size: 20px;
        font-family: "Frank Ruhl Libre";
        text-align: center;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;


    }

    .text p {
        color: white;
        font-size: 15px;
        font-family: "Roboto";
        text-align: center;


    }

    .button_insta button {
        border: none;
        color: white;
        font-family: "Poiret One";
        text-decoration: none;
        font-size: 20px;


    }

    .button_insta button .instagram {
        width: 30px;
        height: auto;
    }

    .text {
        display: grid;
        grid-template-rows: 80px 80px auto;

    }

    .new-home .countries .chile .overlay .text_c {
        font-size: 15px;

    }

    .new-home .countries .china .overlay .text_c {
        font-size: 15px;

    }

    .new-home .countries .usa .overlay .text_c {
        font-size: 15px;

    }

    .new-home .countries .paraguay .overlay .text_c {
        font-size: 15px;

    }


    .button_insta button {
        border: none;
        color: white;
        font-family: "Roboto Thin", sans-serif;
        text-decoration: none;
        font-size: 15px;


    }

    .button_insta button .instagram {
        width: 20px;
        height: auto;
    }

    .button_insta button {
        width: 80px;
        height: 25px;
        cursor: pointer;
        margin-top: 0;
        text-align: center;
        letter-spacing: 1px;
        margin-left: 25%;
        border-radius: 40px;
        background: linear-gradient(-150deg, purple, purple, red, yellow);


    }

    .button_insta button:hover {
        background: linear-gradient(-150deg, yellow, red, purple, purple);
        border: 1px solid white;
    }

    .button_w_s {
        font-size: 15px;
        width: 110px;
        height: 38px;
        margin-top: 2%;
        padding: 2%;


    }

    .app-container .app-title img {
        width: 50%;
        height: auto;
        margin-top: 2%;
    }
