html {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
}

html,
body {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 450%;
    font-family: 'eczar';
    padding-left: 15%;
    padding-top: 10%;
    font-weight: 500;
    line-height: 1;
    color: #ffffff;
}

h3 {
    font-size: 150%;
    font-family: 'roboto';
    padding-left: 15%;
    padding-right: 40px;
    font-weight: 300;
    color: #fff;
}

h2 {
    font-size: 300%;
    font-family: 'eczar';
    padding-left: 15%;
    padding-top: 10%;
    font-weight: 500;
    line-height: 1.2;
}

p {
    font-size: 120%;
    font-family: 'roboto';
    padding-left: 15%;
    padding-right: 15%;
    font-weight: 300;
    color: #666666;
}

/*BUTTONS*/

/*PURPLE BUTTON*/

button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 30%;
    height: 10%;
    cursor: pointer;
    margin-left: 30%;
    margin-top: 2%;
    border: 1px solid #642769;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font: normal 110% "Advent Pro", Helvetica, sans-serif;
    color: #642769;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

button:hover {
    color: rgba(255, 255, 255, 1);
    background: #642769;
}

button:active {
    border: 2px solid rgba(33, 224, 163, 1);
    background: rgba(33, 224, 163, 1);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

/*WHITE BUTTON (COUNTRIES)*/

.button_w_s {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin-left: 0%;
    margin-top: 10%;
    border: 1px solid #fff;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font: normal 20px/40px "Advent Pro", Helvetica, sans-serif;
    color: #ffff;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -moz-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    -o-transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}

.button_w_s:hover {
    color: #4e2b63;
    background: #fff;
}

.button_w_s:active {
    border: 2px #642769;
    background: #642769;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.header {
    position: fixed;
    height: 12vh;
    background: white;
    width: 100%;
    margin-top: -5%;
    z-index: 10;
    -webkit-box-shadow: 0 8px 10px -6px #999;
    -moz-box-shadow: 0 8px 10px -6px #999;
    box-shadow: 0 8px 10px -6px #999;
}

.logo {
    background-image: url('YFU_logo.svg');
    position: fixed;
    width: 100%;
    top: 4vh;
    height: 15vh;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
}

.plane {
    position: absolute;
    width: 15%;
    height: 30%;
    margin-top: 60vh;
    margin-left: 38vw;
    background-color: black;
    background-color: #000;
    z-index: 9;
}


/*.fas fa-plane fa-7x {
    color: white;
    width: 500%;
    height: 500%;
    position: absolute;
    z-index: 100;

}*/

.front {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
    margin-top: 10vh;
}

.front .main-title {
    background-color: #642769;
}

.front .video {
    position: relative;
    bottom: 0%;
    left: 0%;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    overflow: hidden;
}

iframe,
    {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.new-home {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 80vh;
}

.new-home .new-home-title {
    background-color: #fff;
    grid-template-columns: 1fr 1fr;
}

.new-home .countries {

    grid-template-columns: 1fr 1fr;
    display: grid;

}

/*Chile*/

.new-home .countries .chile {
    background-color: #f58220;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 8px solid white;
    position: relative;
    width: 100%;
}

.chile h3 {
    text-align: center;
    bottom="0";
}

.new-home .countries .chile img {
    display: block;
    width: 50%;
    height: 50%;
}

.new-home .countries .chile .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #fdc578;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}

.new-home .countries .chile:hover .overlay {
    columns: pointer;
    bottom: 0;
    height: 100%;
}

.new-home .countries .chile .overlay .text {
    font-family: sans-serif, 'roboto';
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}

/*China*/

.new-home .countries .china {
    background-color: #a2dade;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 8px solid white;
    position: relative;
    width: 100%;
}

.china h3 {
    text-align: center;
    bottom="0";
}

.new-home .countries .china img {
    display: block;
    width: 50%;
    height: auto;
}

.new-home .countries .china .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #00aaac;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    line-height: 1.8;
}

.new-home .countries .china:hover .overlay {
    columns: pointer;
    bottom: 0;
    height: 100%;
}

.new-home .countries .china .overlay .text {
    font-family: sans-serif, 'roboto';
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}


/*USA*/

.new-home .countries .usa {
    background-color: #f05b83;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 8px solid white;
    position: relative;
    width: 100%;
}

.usa h3 {
    text-align: center;
    bottom="0";
}

.new-home .countries .usa img {
    display: block;
    width: 50%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #c92445;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    line-height: 1.8;
}

.new-home .countries .usa:hover .overlay {
    columns: pointer;
    bottom: 0;
    height: 100%;
}

.new-home .countries .usa .overlay .text {
    font-family: sans-serif, 'roboto';
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}

/*PARAGUAY*/

.new-home .countries .paraguay {
    background-color: #c8dd69;
    height: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 8px solid white;
    position: relative;
    width: 100%;
}

.paraguay h3 {
    text-align: center;
    bottom="0";
}

.new-home .countries .paraguay img {
    display: block;
    width: 50%;
    height: auto;
}

.new-home .countries .paraguay .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #76b043;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    line-height: 1.8
}

.new-home .countries .paraguay:hover .overlay {
    columns: pointer;
    bottom: 0;
    height: 100%;
}

.new-home .countries .paraguay .overlay .text {
    font-family: sans-serif, 'roboto';
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: left;
}

/*PARTICIPANTS*/

.participants {
    height: 10vh;
    background: #fff;
    display: grid;
    grid-column: 1/-1;
}

.participants h2 {
    color: #642769;
    margin: 0;
    padding: 1%;
    text-align: center;
    align-items: center;
}

.student-profile {
    height: 100vh;
    background-color: #fff;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}


.student-profile .student1 {
    background-image: url(students/student_3.jpg);
    background-size: cover;
}

.student-profile .student2 {
    background-image: url(students/student_4.jpg);
    background-size: cover;
}

.student-profile .student3 {
    background-image: url(students/student_5.jpg);
    background-size: cover;
}

.student-profile .student4 {
    background-image: url(students/student_6.jpg);
    background-size: cover;
}

.student-profile .student5 {
    background-image: url(students/student_7.jpg);
    background-size: cover;
}

.student-profile .student6 {
    background-image: url(students/student_8l.jpg);
    background-size: cover;

}

.student-profile .student7 {
    background-image: url(students/student_9.jpg);
    background-size: cover;
}

.student-profile .student8 {
    background-image: url(students/student_11.jpg);
    background-size: cover;
}

.text1 {
    opacity: 0;
    transition: 0.5s ease;


    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    margin-top: -30%;
    width: auto;
    height: auto;
}

.student-profile .student1:hover .text1:hover {
    opacity: 0.9;

}

.student-profile .student1:hover img {
    opacity: 0.7;
    background-color: #642769;
}

.student-profile .student2:hover .text1:hover {
    opacity: 0.9;

}

.student-profile .student2:hover img {
    opacity: 0.7;
    background-color: #642769;
}

.student-profile .student3:hover .text1:hover {
    opacity: 0.9;

}

.student-profile .student3:hover img {
    opacity: 0.7;
    background-color: #642769;
}

.student-profile .student4:hover .text1:hover {
    opacity: 0.9;

}

.student-profile .student4:hover img {
    opacity: 0.7;
    background-color: #642769;
}

.student-profile .student5:hover .text1:hover {
    opacity: 0.9;

}

.student-profile .student5:hover img {
    opacity: 0.7;
    background-color: #642769;
}

.student-profile .student6:hover .text1:hover {
    opacity: 0.9;

}

.student-profile .student6:hover img {
    opacity: 0.7;
    background-color: #642769;
}

.student-profile .student7:hover .text1:hover {
    opacity: 0.9;

}

.student-profile .student7:hover img {
    opacity: 0.7;
    background-color: #642769;
}

.student-profile .student8:hover .text1:hover {
    opacity: 0.9;

}

.student-profile .student8:hover img {
    opacity: 0.7;
    background-color: #642769;
}


.app-container {
    height: 80vh;
    display: grid;
    grid-template-columns: 60% 40%;
}

.app-container .app-title {
    background-color: #00B4B9;
    color: #fff;
}

.app-container .app-title p {
    color: #fff;
}

.app-container .app-title img {
    padding-left: 15%;
}

.app-container .app-title img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.app-container .app-image {
    background-color: #00B4B9;
}

.app-container .app-image img {
    width: 60%;
    height: auto;
    margin-top: 10%;
}

.challange {
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.challange .challange-photos {
    background-color: goldenrod;
}

.challange .challange-title {
    background-color: #fff;
}

.meetings {
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.meetings .meetings-calandar {
    background-color: dimgray;
}

.meetings .meetings-title {
    background-color: #F59100;
}

.meetings .meetings-title h2 {
    color: #fff;
}

.meetings .meetings-title p {
    color: #fff;
}

.footer {
    height: 40vh;
    display: grid;
    grid-template-columns: 30% 40% 30%;
}

.footer .contact-us {
    background-color: #D8D2CB;
}

.footer .social-media {
    background-color: #D8D2CB;
}

.footer .address {
    background-color: #D8D2CB;
}
